@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar { display: none; }
body{
    background-color: #dafeff;
    background-image: url('/utils/patron.jpg');
    
}
